<h1><%= @track.name %> (<%= @track.ord %>)</h1>

<h3>LYRICS</h3>

<p>
  <%= ugly_lyrics(@track.lyrics) %>
</p>

<%= render "notes/form", track: @track %>

<h3>Notes</h3>
<% @track.notes.each do |note| %>
  <%= render "notes/note", note: note %>
<% end %>

<h3>LINKS</h3>
<ul>
  <li><%= link_to "EDIT TRACK", edit_track_url(@track) %></li>
  <li><%= link_to "DELETE TRACK", track_url(@track), method: :delete %></li>
  <li><%= link_to @track.album.name, album_url(@track.album) %></li>
</ul>
